p{text-indent: 1em;}

.anime img{height: 500px;}

/* 1ページ目 最後のまとめ */
.pythaTheo{height: 180px; margin: 0px 0px; border: solid 2px black ; border-radius: 15px  }
.pythaTheo>img{height: 170px; float: right; padding: 5px 3px;}
.pythaTheo>.text{height: 100px; padding: 3px; }

/* ページ下に固定されてる三平方の定理  */
.pythagoreanTheorem{background:white; width:calc(100% - 20px); height:180px;  position: fixed; bottom:0px; z-index:99; border: black solid ; display:block;}
.pythagoreanTheorem>img{float:right;  height:170px; }
.pythagoreanTheorem>h1{font-size:25px; margin:20px 0px 0px 20px; }

/* ページ最後に，三平方の定理が来るので，コンテンツが埋もれないようにするための padding */
.paddingPytha{background:white; width:200px; height:280px; padding:5px calc((100% - 200px - 20px) / 2);}

/* それぞれ，具体例のComponet */
.example{border-bottom: black solid 1px;}
div.Example:last-of-type{border-bottom: none;}

/* 具体例のComponetに含まれる図 */
.exImg{ text-align:center;}
.exImg>img{height:200px;}
.exImg input {width: 50px; height: 30px;}